/* Copyright 2014 SMC Media Group */


a {
    color:#369;
}

a:hover {
    color:#fff;
    background:#58A02F;
    text-decoration:none;
}

#header p {
    text-align: left;
    padding:5px 0 5px 1020px;
    margin:0;
    font-size: 12px;
}

#container {
    background-color: #FBF7EE;
    margin-top: 20px;
    padding: 10px;
}

#colmid {
    background: #FBF7EE;
}

#col1 p, #col1 div, #col1 h1, #col1 h2, #col1 h3 {
    color: #D4106A;
}

.side-module {
    /*width: 266px;
    padding: 10px;
    margin-bottom: 10px;*/
    background: #F9D1D8;
    /*border: 2px solid #95999c;*/
}

.side-module h2 {
    margin-bottom: 10px;
}

 div.pass {
    border: 1px solid #008000;
    background-color: #00C400;
    color: #ffffff  !important;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

div.fail {
    border: 1px solid #880000;
    background-color: #EC0000;
    color: #ffffff  !important;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

div.info {
    border: 1px solid #C6C600;
    background-color: #FFFFE1;
    color: #000000 !important;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

#presentation {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: -1px;
    width: 318px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #95999C;
}

#presentation span {
    display: block;
    margin-top: 85px;
    font-size: 40px;
    font-family: 'arial black';
    color: #ddd;
}

.left-promo {
    float: left;
    width: 34%;
    margin-left: 20px;
    text-align: justify;
}

.right-promo {
    float: right;
    width: 58%;
    margin-right: 20px;
    text-align: justify;
}

#menu-options li a {
    color: #fff;
    text-decoration: none;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #95999C;
}

#overview {
    background-color: #F2F5F8;
    border: 2px solid #95999C;
}

#affiliate-info li {
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

#programs-offered li {
    float: left;
    width: 290px;
    border-top: 2px solid #95999C;
    background-color: #fff;
    padding: 5px;
}

.ui-datepicker {
    z-index: 100 !important;
}

.form-stats-button {
    vertical-align: middle;
    margin: 0;
    height: 27px;
}

#stats-form input {
    vertical-align: middle;
}

#stats-form select {
    font-size: 12px; 
    font-weight: bold; 
    height: 22px;
    vertical-align: middle;
}

.banner {
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #95999C;
    padding: 10px;
    background-color: #fff;
}

.broker-banner {
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #95999C;
    padding: 10px;
    background-color: #fff;
}


#tabs #tabs-menu {
    list-style: none;
    list-style-type: none;
}

#tabs #tabs-menu  li {
    float: left;
    background-color: #D4106A;
}

.ui-tabs { position: relative; padding: .2em; zoom: 1; border: 2px solid #95999C; background-color: #fff; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; background-color: #D4106A; height: 33px; border-bottom: 1px solid #95999C; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .3em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; background-color: #fff; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; background-color: #336699; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color: #fff; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.hover {
    background-color: #FFFFE1 !important;
    cursor: pointer;
}

.selected {
    background-color: #FFFFE1 !important;
    cursor: pointer;
}

#banner-container {
    overflow: auto;
    width: 100%;
    height: 600px;
}

#broker-banner-container {
    overflow: auto;
    width: 100%;
    height: 600px;
}

.hide {
    display: none;
}

.step {
    font-size: 24px;
    font-weight: bold;
    width: 1000px;
    margin: 0 auto;
}


.shift {
    width: 75%;
    margin-left: 63px;
}

.data .table-header, .data .table-header2 {
    width: 108px;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 5px;
    text-align: right;
}

.data td {
    padding-bottom: 10px;
}

.data .table-header2 {
    width: 165px;
}


.data .table-data {
    vertical-align: middle;
}

input.stretch {
    width: 220px;
}

select.stretch {
    width: 225px;
}

.error {
    margin: 0px;
    display: inline;
    font-size: 11px;
}

form .errors {
    margin-left: 0px;
    color: red;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
}

#menu {
    background: #D4106A;
    padding: 10px;
    border: 2px solid #95999c;
    height: 16px;
}


#footer-bg {
    position: relative;
    display: block;
    height: 260px;
    width: 1280px;
    bottom: -97px;
    background: URL('/assets/img/flirtbucks/footer.png') no-repeat top;
    z-index: -1;
    margin: 0 auto;
    margin-top: -80px;
}

#footer p {
    padding-left: 320px;
    margin-top: -20px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #fff !important;
}

#seeking {
    position: relative;
    margin-top: -25px;
    left: 120px;
    width: 400px;
    display: block;
}

#seeking li {
    float: left;
    width: 150px;
    font-size: 11px;
    line-height: 12px;
}

#seeking input {
    width: 15px !important;
}

#tos {
    width: 25px !important;
}
